*{
    box-sizing: border-box;
    text-align: center;
}

.panel {
    max-width: 500px;
    margin: auto;
    border-style: dashed;
    border-color: yellow;
    border-radius: 5px;
    margin-bottom: 4px;
    font-family: 'VT323', monospace;
}

#title {
    font-size: 28px;
}

#game_rules_h3 {
    font-size: 26px;
    margin-top: 15;
    margin-bottom: 15;
}

.game_rules_ptag {
    font-size: 20px;
}

.rupee {
    height: 160px;
}

#game_stats {
    font-size: 25px;
}

#number_to_match {
    font-size: 25px;
}

#your_number {
    font-size: 25px;
}